:root {
    --primaryColor: black; 
    --secondaryColor: white;
    --linkSubColor: gray;
    --padSpaceSm: 50px;
}

section {
    padding: var(--padSpaceSm)
}
a {
    color: var(--linkSubColor);
}
.header {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    text-align: right;    
}
.description {
width: 25%;
height: 100%;
float: left;
border-right: 10px;
height: 100%;
}
.descriptionText {
    width: 75%; 
    float: right;   
}