/*classes to help future styling and updates*/
:root {
    --primaryColor: black; 
    --secondaryColor: white;
    --padSpaceSm: 50px;
}

/*entire doc styling */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    padding: 0 auto;
}

section {
    display: flex;
    padding: 10px;
    flex-wrap: no-wrap;
}

/*individualized styling starts here */
/*navbar styling starts here */
ul.navList   {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

li.navItem {
    display: inline;
    text-decoration: none;
    float: right;

}
a.navLink {
    display: block;
    padding: 14px 16px;
    color: var(--primaryColor);
    text-decoration: none;
}

/*header styling starts here */
.header {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    text-align: right;   
    padding: var(--padSpaceSm); 
    padding-right: 10px;
}

/*main page header*/
.headerDescription {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: var(--padSpaceSm);
    border-right: 5px solid black;
    text-align: right;
    justify-content: left;
    margin-left: 15%;
}
.desc

#proj1 {
    height: 500px;
    width: auto;
    
}

.subProj {
    height: 150px;
    width: auto;
}
.contactItems {
    display:inline-block;
}
.projContainer {
    position: relative;
}
img {
    max-width: 100%;
    height:auto;
    position: relative;
    border: 5px black solid;
}
img:hover {
    opacity: 0.5;
}
.projLabel {
    position: absolute; 
    color: white; 
    z-index:1;
    bottom:20%; 
    background-color: gray;
    opacity: 0.9;
    margin: 0;

    border: 2px black solid;
}
